{% extends "base.html" %}
{% block body %}
    <h1>Hello!</h1>
    <p>This is <abbr title="Aarthi" class="initialism">my</abbr> web page. I am trying to learn web development.</p>
    <p>Do <strong><em>you</em></strong> think I will succeed?</p>
    <p><em>Click on the options</em>!</p>
    <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox1" value="Option1">
        Yes, you are motivated!
    </label>
    <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="Option2">
        No, you are lazy!
    </label>
{% endblock %}